<%
require 'json'
require 'ostruct'
require 'time'
%>
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
   xmlns:atom="http://www.w3.org/2005/Atom">
  <%
    repo_title = "MELPA"
    base_url = "https://melpa.org"

    if File.absolute_path(__FILE__).include? "html-stable"
      repo_title = "MELPA Stable"
      base_url = "https://stable.melpa.org"
    end
  %>
  <channel>
    <title><%= repo_title %> package updates</title>
    <link><%= base_url %></link>
    <atom:link href="<%= base_url %>/updates.rss" rel="self" type="application/rss+xml" />
    <language>en-us</language>
    <ttl>40</ttl>
    <description>News about package updates</description>
    <%
    @packages = JSON.parse(File.read("packages.json"), { object_class: OpenStruct })
    @packages.sort_by { |p| p.version }.reverse[0..200].each do |package|
        package.url = "#{base_url}/packages/#{package.name}-#{package.version}.#{package.extension}"
        package.info_url = "#{base_url}/packages/#{package.name}"
        package.build_time = Time.parse(package.build_time)
    %>
      <item>
        <title><%= package.name %> (<%= package.version %>) --- <%= package.description %></title>
        <description>The <%= package.name %> package has been updated to version <%= package.version %>.</description>
        <pubDate><%= package.build_time.rfc822 %></pubDate>
        <guid isPermaLink="true"><%= package.url %></guid>
        <link><%= package.info_url %></link>
      </item>
    <% end %>
  </channel>
</rss>
